---
import { getCollection } from "astro:content";

const blogs = await getCollection("blog");
---

<div class="big-container">
  {
    blogs.map((blog) => {
      return (
        <>
          <a href={`/blog/${blog.slug}`}>
            <div class="flex justify-between bg-slate-800 border-slate-600 hover:border-white rounded-md border-2 pr-2">
              <div class="flex justify-between">
                <img
                  class="object-cover rounded-l"
                  src={blog.data.img}
                  alt=""
                />
                <p class="text-white font-semibold my-auto ml-3">
                  {blog.data.title}
                </p>
              </div>
            </div>
          </a>
        </>
      );
    })
  }
</div>
