<nav class="flex flex-row mt-10 mb-10 justify-between">
  <a href="/"><h3>KarenGómez</h3></a>
  <div class="flex gap-3 sm:flex-row sm:gap-10">
    <a href="/projects"><h3>Projects</h3></a>
    <a href="/blog"><h3>Blog</h3></a>
  </div>
</nav>
<style>
  h3 {
    @apply text-center sm:text-start font-semibold hover:text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-blue-500;
  }
</style>
