---
import projectsData from "@/data/projects.json";
---

<div class="flex flex-col mt-10 gap-5">
  {
    projectsData.map((project) => {
      return (
        <a href={project.gitHub}>
          <div class="flex justify-between bg-slate-800 border-slate-600 hover:border-white rounded-md border-2 px-3 h-10">
            <h2 class="text-white font-semibold my-auto">{project.title}</h2>
            <p class="text-slate-400 font-semibold my-auto">
              Go to
              <i title="github" class="ml-2 fa-brands fa-github text-white" />
            </p>
          </div>
        </a>
      );
    })
  }
  <div class="flex justify-end">
    <a href="/projects">
      <button
        class="text-center font-semibold text-white rounded-md w-40 h-8 bg-gradient-to-r from-green-600 to-blue-600 hover:from-pink-500 hover:to-yellow-500"
        >View All</button
      >
    </a>
  </div>
</div>
