---
import projectsData from "@/data/projects.json";
---

<div class="big-container">
  {
    projectsData.map((project) => {
      return (
        <a href={project.urlProject} target="_blank">
          <div class="flex justify-between bg-slate-800 border-slate-600 hover:border-white rounded-md border-2 px-3 py-2">
            <p class="text-white font-semibold my-auto">{project.title}</p>
            <p class="text-slate-400 font-semibold my-auto">
              See project
              <i class="fa-solid fa-arrow-up-right-from-square" />
            </p>
          </div>
        </a>
      );
    })
  }
</div>
